:root {
    --body-color: white;
    --text-primary: #111111;
    --text-secondary: #777777;
    --text-tertiary: #999999;
    --background-color-image: #FBDFDB;
    --footer-color: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* html {

}

header {

} */